<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    * {
    box-sizing: border-box;
    }
    body {margin: 0;}
    .header {
    padding: 10px;
    text-align: center;
    background: orange;
    color: white;
    }
    .navbar {
    overflow: hidden;
    background-color: dimgrey;
    }
    .navbar a {
    float: left;
    display: block;
    color: white;
text-align: center;
padding: 10px 10px;
}
.navbar a.right {
float: right;
}
.navbar a:hover{
background-color: #eee;
color: black;
}
.row {
display: flex;
flex-wrap: wrap;
}
.sidebar {
flex: 10%;
background-color: #f1f1f1;
padding: 20px;
}
.main {
flex: 80%;
background-color: white;
padding: 20px;
}
.logoimg {
height:10%;
float:left;
}
</style>
</head>
<body>
<div class="header">
<div class="logoimg" ><img src="cropped-EDUCBA_LOGO.png"></div>
<h1>Welcome to EDUCBA</h1>
</div>
<div class="navbar">
<a href="https://www.educba.com/finance/courses/financial-analyst-course/">Finance</a>
<a href="https://www.educba.com/data-science/courses/data-science-course/">Data Science</a>
<a href="https://www.educba.com/software-development/courses/software-development-course/">Software Development</a>
<a href="https://www.educba.com/excel/courses/excel-vba-certification-course/">Excel</a>
<a href="https://www.educba.com/design/courses/design-course/">Design</a>
<a href="#" class="right">Login</a>
</div>
<div class="row">
<div class="sidebar">
<h2>Contact US</h2>
<div><img src="Contact.jpg" style="height:100px;"></div>
<h2>Reviews</h2>
<div ><img src="Reviews.jpg" style="height:100px;"></div>
</div>
<div class="main">
<h2>WHO IS EDUCBA?</h2>
<p>Choose your interest area and get certified with our online Courses in Finance, Data Science, Software Development, Excel, Design, Project Management, Personal Development, Marketing and Human Resources..</p>
<br>
<div class="row">
<div class="sidebar">
<h2><u>Certification Courses</u></h2>
<a href="https://www.educba.com/finance/">Financial Analyst Course - All in One Bundle</a><br>
<a href="https://www.educba.com/marketing/">Marketing Course - All in One Bundle</a><br>
<a href="https://www.educba.com/human-resource/">Human Resource Course - All in One Bundle</a><br>
<a href="https://www.educba.com/design/">Design Course -All in one Bundle</a> <br>
<a href="https://www.educba.com/excel/">Excel VBA Course - All in One Bundle</a>
</div>
<div class="sidebar">
<h2><u>Free Courses</u></h2>
<a href="https://www.educba.com/data-science/courses/free-data-science-course/">Free Course on Data Science</a><br>
<a href="https://www.educba.com/design/courses/free-graphic-design-online-course/">Free Course Graphic Design</a><br>
<a href="https://www.educba.com/excel/courses/free-online-excel-course/">Free Online Excel Course</a><br>
<a href="https://www.educba.com/marketing/courses/free-digital-marketing-course/">Free Course Digital Marketing</a><br>
<a href="https://www.educba.com/software-development/courses/free-programming-course/">Free Course Programming</a>
</div></div></div></div>
</body>
