*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
     padding: 50px 100px; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     flex-direction: column;
     background: url(bg.jpg);
     background-size: cover;
}
.contact .contact
{
    max-width: 800px;
    text-align: center;
}
.contact .contact h2
{ 
    font-size: 36px; 
    font-weight: 500; 
    color: #fff;
}
.contact .content p
{
    font-weight: 300;
     color: #fff;  
}
.container
{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px; 
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box ,icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}
.contactform
{
    width: 40px;
    padding: 40px;
    background: #fff;
}
.contactform h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span
{
    position: absolute;
    Left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}