.signup-form{
    height:450px;
    width:500px;
    margin-top:13.5%;
    margin-left:26%;
}
.Signup-head{
    padding:8px;
}
.signup-content .radio{

    margin:10px 10px;
}
.signup-content2 .input{

    width:400px;
    padding:10px;
    margin:10px;
    color:#fff;
}
.signup-content2  .person{

    padding:10px;
    margin:10px;
    color:#fff;
}
.signup-content2 .travel1{
    margin:20px 20px;
}
.signup-content2 .travel{
    margin:20px 20px;
}
.signup-content2 .travel2{
    padding:5px;
}
.signup-content2 .sumbit-btn{

    border:none;
    outline:none;
    width:200px;
    padding:10px;
    margin-left:200px;
}