h3{
    color:purple;

  }
  #para{
    color:blue;
  }
  .p1{
    color:green;
    line-height: 100px;
    margin-block-end: 20px;
    padding-top: 100px;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  p{
    font:italic;
  }
  a:link{
    color:blue;
 }
 
 a:hover{
    color:yellow;
 }
 
 a:active{
    color:brown
 }
 div{
    color:red;
 }