@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
}

body {
  font: 16px 'Roboto', sans-serif;
  width: 300px;
  text-align: center;
  color: #555;
  background: #ddd;
}

.form {
  padding: 35px 0;
  border: 1px solid #aaa;
  background: #eee;
  min-width: 100%;
  margin: 0 auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 10px;
}

input[type=text] {
  width: 80%;
  padding: 10px 10px 12px 70px;
  font-size: 12px;
  color: #555;
  border: 1px solid #aaa;
  background-color: #fff;
}

.field {
  display: inline-block;
  position: relative;
  margin: 10px auto;
}

.col-centered {
  float: none;
}

.field input {
  transition: .1s all linear;
  font-size: 20px;
  font-family: Monospace;
}

.field label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 18%;
  top: 18px;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 2em;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  background-color: #e7e5e4;
  letter-spacing: .07em;
  text-shadow: 1px -1px 0 #767676;
  margin-top: 10px;
}

caption {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 25px;
  padding: 20px 5px;
  text-align: center;
  text-transform: uppercase;
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: .2em;
  text-shadow: 1px -1px 0 #767676;
  margin-top: 10px;
}

#trainClass {
  margin: 4px;
  float: center;
}

#trainClass label {
  width: 60px;
  margin: 4px;
  background-color: #EFEFEF;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  overflow: auto;
  cursor: pointer;
}

#trainClass label span {
  text-align: center;
  font-size: 25px;
  padding: 13px 0px;
  display: inline-block;
  width: 100%;
}

#trainClass label input {
  position: absolute;
  top: -20px;
  opacity: 0;
  /**hides the radio button**/
}

#trainClass input:checked + span {
  background-color: #404040;
  color: #F7F7F7;
}

#trainClass .yellow {
  background-color: #FFCC00;
  color: #333;
}

#trainClass .blue {
  background-color: #00BFFF;
  color: #333;
}

#trainClass .pink {
  background-color: #FF99FF;
  color: #333;
}

#trainClass .green {
  background-color: #A3D900;
  color: #333;
}

#trainClass .purple {
  background-color: #B399FF;
  color: #333;
}

#bfoot {
  position: relative;
  top: 30px;
}

.member tr:hover {
  color: black;
  cursor: pointer;
}

.selected {
  background-color: rgba(41, 103, 182, 0.89);
  color: #FFF;
}

.table th {
  text-align: center;
}


/*********************class select***********************/

#selectclass {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 60%;
  top: 20%;
  z-index: 10;
  color: brown;
  background-color: white;
}

.invis {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0.5;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 370px;
}

#selectclass > h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 25px;
  padding: 20px 5px;
  text-align: center;
  text-transform: uppercase;
  /*  text-rendering: optimizeLegibility;*/
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: .2em;
  text-shadow: 1px -1px 0 #767676;
  margin-top: 10px;
}


/**************   ticket  ********/

#ticket {
  width: 500px;
  height: 250px;
  border: 1px solid black;
  text-transform: uppercase;
  margin: 50px auto;
  background: white;
  font-family: "Times New Roman", Times, serif;
}

.pull-right {
  padding: 15px;
  text-align: right;
  right: 10px;
  font-size: 15px;
}

.pull-left {
  text-align: left;
  left: 10px;
  font-size: 15px;
  padding: 15px;
}

.trainno {
  font-size: 60px;
  padding: 15px;
  font-family: monospace;
}

.trainname {
  font-size: 22px;
  font-family: Verdana, Geneva, sans-serif;
  padding: 10px 8px;
  text-align: center;
  text-transform: uppercase;
}

.from {
  font-family: Verdana, Geneva, sans-serif;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
}

.to {
  font-family: Verdana, Geneva, sans-serif;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}

#barcodes {
  width: 80%;
  font-size: 25px;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
}

td {
  width: 4px;
  height: 30px;
}

.compartment {
  font-size: 25px;
  padding: 10px;
}

.seatno {
  font-size: 25px;
  padding: 10px;
}

.final > h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 25px;
  padding: 20px 5px;
  text-align: center;
  text-transform: uppercase;
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: .2em;
  text-shadow: 1px -1px 0 #767676;
  margin-top: 10px;
}